
.sample-widget {
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 16px rgb(0 0 0 / 8%);
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    position: absolute;
    right: 30px;
    bottom: 30px;
}