.wishlist-button {
    position: absolute;
    right: 30px;
    bottom: 30px;
    width: 50px;
    height: 50px;
    border: 0;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 16px rgb(0 0 0 / 8%);
    color: rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
}

.wishlist-button:hover {
    box-shadow: 0 0 32px rgb(0 0 0 / 16%);
}

.wishlist-button span:last-of-type {
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #F94D63;
    color: #fff;
    font-size: 12px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-75%, 0%);
}

.wishlist-container {
    position: absolute;
    bottom: 100px;
    right: 30px;
    background-color: #fff;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 16px rgb(0 0 0 / 8%);
    max-height: 300px;
    height: 300px;
    width: 500px;
}

.wishlist-header {
    height: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 16px rgb(0 0 0 / 8%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
}

.wishlist-header h1 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    height: 40px;
    max-height: 40px;
    overflow: hidden;
    margin-bottom: 12px;
    width: calc(100% - 50px);
    color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    margin: 0;
}

.wishlist-header span {
    margin-right: 12px;
}

.wishlist-header p {
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400;
    white-space: nowrap;
    font-size: 12px;
}

.wishlist-content {
    padding: 16px;
    height: calc(300px - 50px);
    overflow-y: auto;
    width: 500px;
    box-sizing: border-box;
}

.wishlist-row {
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    gap: 12px;
    padding: 16px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
}

.wishlist-row:last-child {
    padding-bottom: 0;
    border: 0;
}

.wishlist-row img {
    width: 95px;
    height: 95px;
}

.wishlist-row h2,
.wishlist-row p,
.wishlist-row span{
    margin: 0;
}

.wishlist-row h2 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    height: 40px;
    max-height: 40px;
    overflow: hidden;
    margin-bottom: 12px;
    color: rgba(0, 0, 0, 0.75);
    width: calc(100% - 50px);
}

.wishlist-row p,
.wishlist-row span {
    font-size: 14px;
    line-height: 16px;
    overflow: hidden;
}

.wishlist-row p {
    color: rgba(0, 0, 0, 0.5);
    font-weight: 600;
}

.wishlist-row span {
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400;
}

.wishlist-row p {
    margin-bottom: 3px;
}

.wishlist-row > div {
    position: relative;
}

.wishlist-row button {
    background-color: transparent;
    border: 0;
    position: absolute;
    color: rgba(0, 0, 0, 0.5);
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    opacity: 0.5;
}

.wishlist-row button:hover {
    opacity: 1;
}